
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin:0px;
}
body{
    width:100%;
    background:#eef0f3;
    position: relative;
    display:flex;
}
#menu .logo img{
    width:80px;
    margin-right: 20px;

}
#menu .logo h2{
    color: whitesmoke;
    display: flex;
    align-items: center;

}
#menu .logo{
    display: flex;
    align-items: center;
    color: white;
    padding: 30px 0 0 30px ;

}
#menu .items{
    margin:40px;
}

#menu .items li{
    list-style: none;
    padding:15px 0 0 15px;
}

#menu .items li:hover{
    background: #253047;
    /*The cursor:pointer makes the cursor as a hand */
    cursor: pointer;
}
/*
#menu .items li:nth-child(1){
    border-left: 4px solid white;

}
*/

#menu .items li:hover i,
#menu .items li:hover a{
    background: #253047;
    cursor: pointer;
}

#menu .items li:hover a{
    text-decoration: none;
    color:rgba(134,141,151);
    font-weight:300px;
    transition: 0.3s ease;

}


#menu .items li i{
    color:rgba(134,141,151);
    width:30px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size:14px;
    margin:0 10 0 25px;
    margin-right: 4px;

}

#menu .items li:hover(){
    color:#F3F4F6;
}

#menu .items li a{
    text-decoration: none;
    color:rgb(220, 236, 98);
    font-weight: 300px;
}

#menu{
    width:250px;
    height:150%;
    background-color:black;


}

.i-name{
    color:#444a53;
    padding:30px 30px 0 30px;
    font-size: 24px;
    font-weight:700;
}

.values{
    padding:30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.values .val-box{
    background-color: #fff;
    width:200px;
    padding :16px 10px;
    border-radius:5px;
    justify-content: flex-start;
    display:flex;
    margin-right: 20px;
    align-items: center;
}

.values .val-box i{

    font-size:25px;
    width:60px;
    height:60px;
    line-height:60px;
    border-radius: 50%;
    text-align:center;
    color:#fff;
    margin-right: 15px;
    background-color: rgb(217, 231, 21);

}

.values .val-box span{
    color:gray;
    font-weight: 700;
}
.board{
    width:100%;
    margin:30px 0 30px 30px;
    background-color: #fff;
    border-radius: 8px;

}
.board img{
    width:45px;
    height:45px;
    border-radius:8px;
    object-fit: cover;
    margin-right:15px;
}
.board .people{
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.board .people h5{
    display: flex;
    justify-content: center;
}
table{
    border-collapse:collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600px;
    background: #F9FAFB;
    text-align: start;
    padding:15px;
}

tbody tr td{
    padding:10px 15px;
}
